h1::after{
    display: block;
    content: "";
    width: 40px;
    height: 4px;
    background-color: blueviolet;
    margin-right: 10px;
}

ul{
    list-style: none;
}

li{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

li::before{
    display: inline-block;
    content: "";
    width: 8px;
    height: 8px;
    background:linear-gradient(blueviolet, rgb(241, 233, 233));
    margin-right: 10px;
    border: 2px solid #caf;
    border-radius: 50%;
}

p::first-line{
    font-weight: bold;
}
p::first-letter{
    font-size: 2rem;
}