body{
    font-family: Arial;
}
h1{
    text-align: center;
    font-size: 45px;
    
}
div.itens{
    background-color: #111;
    width: 600px;
    height: 160px;
    border-radius: 10px;
    margin: auto;
}
h2{
 color: white;
 margin: 30px 20px 0px;
 padding: 20px 15px ;
}
p{
    color: #b2b2b2;
    margin: 5px 20px 30px 35px;
}
span{
    color: #febe01;
}
a{
   background-color: rgb(245, 167, 11);
   color: black;
   text-decoration: none;
   margin: 40px 20px 10px 35px;
   padding: 10px;
   
   
}