.footer{ 
    background-color: #000;
}
.footer-container{
    max-width: 1200px;
    padding: 40px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    align-items: center;
    
}
.footer-texto{
    font-size: 1.5rem;
    line-height: 1.33;
    color: #ccc;
}
.footer-contato li{
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.1;
    color: #ffffff;
    margin-bottom: 30px;
}
.footer-contato li a{
    color: #ffffff;
    text-decoration: none;
}

@media( max-width:800px){
    .footer-container{  
    grid-template-columns: 1fr;
    gap: 40px;}
    
}
   