body{
    font-family: arial;
}
h1{
    text-align: center;
}

h2{
    margin-top: 0px;
}
.comprar{
    background-color: #a8f;
    color: #103;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}
.item{
    background-color: rgba(45, 65, 65, 0.185);
    padding: 20px;
    border-radius: 5px;
    display: grid;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
